:root {
  --primary: #111;
  --secondary: #333;
  --light: #888;
  --lighter: #aaa;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-family: Manjari, Ubuntu, "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 0;
  color: var(--primary);
}

img {
  max-width: 100%;
}
hr {
  height: 2px;
  border: 0;
  background: #ddd;
  display: block;
  margin: 30px 0;
}
h1, h2, h3, h4, h5 {
  margin: 10px 0 10px 0;
}

h4, h5 {
  margin: 0 0 10px 0;
  font-weight: normal;
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--secondary);
}

input,
select,
button,
textarea,
.button {
  padding: 15px;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--primary);
  border-radius: 5px;
  border: 1px solid #ccc;
}
input:focus,
select:focus {
  border-color: var(--secondary);
}

button, .button {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  width: auto;
  cursor: pointer;
  padding: 10px 20px;
}
.button-outline {
  background: var(--white);
  color: var(--primary);
}
  .button-outline:hover {
    background: var(--lighter);
    color: var(--primary);
  }
button:hover, .button:hover {
  border-color: #444;
  background: #444;
}

.noul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box {
  border-radius: 3px;
  box-shadow: 2px 2px 1px #eee;
  border: 1px solid #ddd;
  padding: 30px;
}

.text-right {
  text-align: right;
}

/* Custom */
.wrap {
  background-color: var(--white);
  padding: 45px 45px 60px 45px;
  max-width: 800px;
  min-width: 325px;
  margin: 45px auto 30px auto;
  position: relative;
}

.logo img {
  height: auto;
  max-width: 200px;
}
  .home .logo img {
    max-width: 80%;
  }

.intro {
  display: none;
  color: #444;
  margin: 30px 0 30px;
  font-weight: normal;
}

.search {
  position: relative;
}
  .search .tabs {
    margin-left: 20px;
    text-align: left;
  }
  .search .tabs input {
    opacity: 0;
    position: absolute;
  }
  .search .tab {
    background: #fff;
    color: var(--light);
    font-size: 0.8rem;
    text-decoration: none;

    margin: 0 5px 0 0;
    padding: 6px 15px;
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #d6d6d6;
    white-space: nowrap;
    cursor: pointer;
  }
    .search .tabs input:focus + label,
    .search .tabs label:hover {
      border-color: var(--light);
      box-shadow: 0 0 6px #ddd;
    }
    .search .tabs input:checked + label {
      border-color: var(--light);
      color: inherit;
      border-top-width: 2px;
    }
.search-form > div {
  display: flex;
  align-items: stretch;
}
  .search-form input {
    flex-grow: 1;
    align-self: center;
    font-size: 1.3rem;
    padding: 8px 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  .search-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1rem;

    padding: 7px 20px;
  }
  .search-form button img {
    max-height: 32px;
    min-width: 13px;
  }

.content {
  margin-top: 45px;
}

.entries .result {
  margin-bottom: 45px;
}
.entries .entry {
  margin-bottom: 10px;
}
  .entries .entry table {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #CCC;
    border-radius: 0 0 10px 10px;
  }
  .entries .entry td:nth-child(1) {
    width: 23%;
    border-right: 1px solid #CCC;
  }
  .entries .entry td:nth-child(2) {
    padding-left: 10px;
  }
  .entries .lang {
    padding: 5px 10px;
    text-transform: capitalize;
    font-style: italic;
    border: 1px solid #CCC;
    border-radius: 10px 10px 0 0;
  }
.entries .head {
  margin-bottom: 10px;
  position: relative;
}
  .entries .title {
    margin: 0;
  }
  .entries .pronun {
    color: var(--light);
  }
.entries .defs {
  margin: 0 0 20px 0;
}
  .entries li::marker {
    color: var(--lighter);
  }
  .entries .defs li {
    margin-bottom: 6px;
    position: relative;
  }
  .entries .defs li:hover {
    background: #fafafa;
  }

  .entries .defs .types {
    margin: 20px 0 10px -40px ;
    color: var(--light);
    font-style: italic;
    border-bottom: 1px dashed #ddd;
  }
  .entries .defs .types:first-child {
    margin-top: 0;
  }

    .entry .edit {
      background: rgba(255,255,255,.6);
      color: var(--white);
      border-radius: 3px;
      padding: 12px 10px;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      text-decoration: none;
      z-index: 1000;
      line-height: 0;
    }
    .entries .defs li:hover .edit {
      display: block;
    }
    .entry .head:hover .edit {
      display: block;
    }

.related ul {
  font-size: 0.875rem;
}

.form-submit {
}
  .form-submit select {
    padding: 10px;
  }
  .form-submit fieldset {
    padding: 0;
    margin: 0 0 20px 0;
    border: 0;
  }
  .form-submit label {
    display: block;
    color: var(--secondary);
  }
  .form-submit select, .form-submit textarea {
    width: 100%;
  }
  .form-submit li {
    margin-bottom: 20px;
  }
  .form-submit li:first-child .btn-remove-relation {
    display: none;
  }
  .form-submit input,
  .form-submit textarea {
    width: 100%;
  }

.form-comments {
  margin: 10px 0 45px 0;
  display: none;
  padding: 30px;
  clear: both;
}
  .form-comments textarea {
    width: 100%;
    min-height: 200px;
  }
  .form-comments h3 {
    margin: 0 0 15px 0;
  }


.glossary .index {
  background: #f7f7f7;
  margin-bottom: 15px;
}
  .glossary .index a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
  }
  .glossary .index .sel,
  .glossary .index a:hover {
    background: var(--primary);
    color: var(--white);
  }

  .glossary .words {
    /* column-count: auto;
    column-gap: 0; */
    column-count: 3;
    column-gap: 40px;
  }
    .glossary .words li {
      border-bottom: 1px solid #eee;
      page-break-inside: avoid;
      padding: 3px 0;
    }
    .glossary .words a {
      text-decoration: none;
    }

.pagination {
  margin-top: 30px;
}
  .pagination a {
    display: inline-block;
    text-decoration: none;
  }
  .pagination .pg-page {
    padding: 0 6px;
  }
  .pagination .pg-selected {
    font-weight: bold;
    border-bottom: 2px solid var(--primary);
  }
  .pagination.top {
    margin-bottom: 30px;
  }
  .pagination.bottom {
    margin-top: 30px;
  }

.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 1px dashed #ccc;
  padding: 10px 15px;
  font-size: .85rem;
  text-align: center;
}
  .nav a {
    text-decoration: none;
    color: var(--light);
    margin: 0 15px;
  }
  .nav a:hover {
    color: var(--primary);
  }

.header {
  margin-bottom: 45px;
} 
.footer {
  margin-bottom: 30px;
  text-align: center;
  font-size: 0.75rem;
  color: var(--light);
}
  .footer a {
    color: var(--light);
  }
  .footer a:hover {
    color: var(--primary);
  }
.footer .slash {
  margin: 0 10px;
}
.footer .credit img {
  height: 11px;
  width: auto;
}
.footer .credit:hover img {
  opacity: 0.6;
}


.center {
  text-align: center;
}

/* Homepage */
.home .wrap {
  max-height: 475px;
  max-width: 750px;
  padding: 60px 60px 90px 60px;
}
.home .container {
  margin-top: calc(50vh - (475px / 2));
}
.home .header {
  text-align: center;
}
.home .intro {
  display: block;
}
.home .logo {
  width: 100%;
  flex: none;
  margin-bottom: 15px;
}
  .home .logo img {
    max-height: 100%;
  }
.home .search {
  width: 100%;
  flex: none;
}

@media screen and (min-width: 2000px) {
  body, input, button, select, textarea {
    font-size: 24px;
  }
  button {
    padding: 20px 30px;
  }
  .wrap {
    max-width: 50%;
  }
  .home .wrap {
    max-width: 900px;
  }
}

@media screen and (max-width: 775px) {
  .wrap {
    margin: 0 0 15px 0;
    padding: 30px;
    width: 100%;
    max-width: 100%;
  }
  .home .wrap {
    margin: 0 0 15px 0;
    padding: 30px 30px 90px 30px;
  }
  .nav {
    position: static;
    margin: 0 -30px -30px -30px;
  }

  .logo {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
  }
  .logo img {
    max-height: 32px;
  }

  .footer {
    margin-bottom: 15px;
  }

  .form-submit .columns {
    width: 100%;
  }
  .form-submit button[type="submit"] {
    width: 100%;
  }
}

@import url('https://smc.org.in/fonts/manjari.css');
html { font-family: 'Manjari', sans-serif; } 
