{{ define "entry" }}
  <div class="entry">
    {{/*
    {{ if $.EnableSubmissions }}
        <a href="" data-from="{{ .GUID }}" class="edit" title="{{ $.L.Ts "public.suggestEdit" "word" .Content }}">✏️</a>
    {{ end }}
    */}}

    {{/* TODO */}}
    {{/* {{ $.L.T "langs.{{ .Lang }}" */}}
    <div class="lang">{{ .Lang }}</div>
    <table>
        <tbody>
            <tr>
                <td>Word & Definition</td>
                <td>{{ .Content }}</td>
            </tr>
            <tr>
                <td>Native</td>
                <td>{{ .Meta.native }}</td>
            </tr>
            <tr>
                <td>Transliterated</td>
                <td>{{ .Meta.en }}</td>
            </tr>
            <tr>
                <td>IPA</td>
                <td>{{ .Meta.ipa }}</td>
            </tr>
            <tr>
                <td>ISO</td>
                <td>{{ .Meta.iso }}</td>
            </tr>
        </tbody>
    </table>
</div>
{{ end }}
