{{ define "results" }}
{{ $numResults := (min (len .Data.Results.Entries) 10) }}
    <ol class="entries">
        {{ range $k, $r := (mustSlice .Data.Results.Entries 0 $numResults) }}
            <li class="result" data-guid="{{ $r.GUID }}">
                {{ template "entry" . }}

                {{ if $r.Relations }}
                    {{ $lastType := "" }}
                    {{ range $k, $d := $r.Relations }}
                        {{ template "entry" . }}
                    {{ end }}
                {{ end }}

            </li>
        {{ end }}
    </ol>
{{ end }}
