<div class="controls flex px-1 md:px-10 py-4 border-gray-300 border items-center justify-between">
  <div>
    <form method="GET">
      <div class="flex space-x-2 items-center">
        <input name="q" autocomplete="off" value="<%= @query_param %>" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-blue-500 focus:bg-white focus:shadow-md" />
        <button class="whitespace-nowrap text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>
      </div>
    </form>
  </div>
  <div class="flex space-x-2 items-center">
    <div class="hidden md:block whitespace-nowrap">Font size</div>
    <select id="font-size" title="Font size" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-blue-500 focus:bg-white focus:shadow-md">
      <% (12...30).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
  </div>
</div>

<script>
  window.onReady = function (func) {
    document.body.onload = func
  }

  function changeFontSize(size) {
    var table = document.querySelector("#entries-table");
    table.style.fontSize = size + "px";
  }

  function onFontSizeDropdownChange(size) {
    localStorage["font-size"] = size;
    changeFontSize(size);
  }

  document.querySelector("#font-size").addEventListener("change", function(size) {
    onFontSizeDropdownChange(this.value);
  });

  onReady(function() {
    var size = localStorage["font-size"] || 18;
    console.log(size);
    document.querySelector("#font-size").value = size;
    onFontSizeDropdownChange(size);
  })
</script>