<div class="flex justify-evenly items-center text-center py-8">
  <a href="../">Home</a>
  <h1 class="text-4xl">samam</h1>
  <div>Settings</div>
</div>

<%= render "controls", query_param: @query_param %>

<br/>

<table id="entries-table">
  <thead>
    <tr>
      <th>Malayalam</th>
      <th>Kannada</th>
      <th>Tamil</th>
      <th>Telugu</th>
    </tr>
  </thead>
  <tbody>
    <% if false %>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.content %></td>
          <% entry.definitions.each do |definition| %>
            <td><%= definition.content %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <%# <% if false %>
      <% @entries.each_with_index do |entry, index| %>
        <tr>
          <td class="entry-index md:hidden">
            <%= index + 1 %>
          </td>
          <% Entry::LANGS.each do |lang| %>
            <td>
              <span>
                <a href="/dictionary/malayalam/*/<%= entry.send(:"malayalam_defintions")&.content %>" target="_blank">
                  <%= entry.send(:"#{lang}_defintions")&.content %>
                </a>
              </span>
              <span class="lang md:hidden"><%= lang.slice(0, 2) %></span>
            </td>
          <% end %>
        </tr>
      <% end %>
    <%# <% end %>
  </tbody>
</table>

<%= render "highlighter", query_param: @query_param %>

<br/>

<div class="flickr_pagination pagination">
  <%= will_paginate @entries, :container => false %>
  <div class="page_info">
    <%= page_entries_info @entries %>
  </div>
</div>

<br/><br/>

<style>
  table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  tr {
    position: relative;
  }
  th {
    text-align: center;
  }
  th, td {
    border: 1px solid #CCC;
    margin: 0;
    padding: 10px 20px;
    line-height: 1.5;
    position: relative;
  }
  .pagination {
    display: table;
    text-align: center;
    margin: 20px auto;
  }
  .pagination .page_info {
    margin: 0 auto 10px;
  }
  @media screen and (max-width: 768px) {
    thead {
      display: none;
    }
    .entry-index {
      border: 0;
    }
    #entries-table tr {
      display: block;
      margin-bottom: 30px;
    }
    #entries-table th, #entries-table td {
      display: block;
    }
    #entries-table .lang {
      position: absolute;
      top: 0;
      right: 2px;
      font-size: 1rem;
    }
  }
</style>